﻿@page "/persons"
@inject HttpClient Http
@using Gifty.Contracts.Persons;

<h1>Persons</h1>

<p></p>

@if (response == null)
{
    <div />
}
else
{
    <table>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var person in response.Persons)
        {
        <tr>
            <td>@person.Name</td>
        </tr>
        }
    </table>
}

@functions {
GetPersonsDto response;

protected override async Task OnInitAsync()
{
    response = await Http.GetJsonAsync<GetPersonsDto>("api/v1/persons");
}
}
